/* style.css */
body {
      height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #fff8f0;
  color: #012f49;
}

header {
  background: #e89619;
  padding: 15px;
  color: white;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-img {
  height: 100px;   
  width: auto;
}


.logo {
  font-size: 1.5em;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}
/* hero-section *//* hero-section *//* hero-section */
.hero {
  text-align: center;
  padding: 0px 20px;
  color: #012f49;
}

.hero h2 {
  font-size: 2.5em;
}

/* special-section *//* special-section */
#specials {
  text-align: center;
  padding: 40px 20px;
}

.slider {
  max-width: 400px;
  margin: 0 auto;
}

.slider img {
  width: 100px;
  height: auto;
}

#special-title {
  margin-top: 10px;
  font-weight: bold;
  color: #012f49;
}

.slider-buttons {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

.slider-buttons button {
  padding: 10px 20px;
  background: #18596b;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.slider-buttons button:hover {
  background: #e89619;
}
/* footer *//* footer *//* footer *//* footer */
footer {
  background-color: #e89619;
  color: white;
  padding: 2% 10%;
  
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  gap: 8%;
  justify-content: space-between;
}

.footer-container div {
  flex: 1 1 200px;
}

.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links ul li a {
  color: white;
  text-decoration: none;
}

.footer-links ul li a:hover {
  text-decoration: underline;
}
.footer-contact p a{
  text-decoration: none;
  color: white;
}
.footer-social a {
  color: white;
  margin-right: 10px;
  font-size: 20px;
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
  border-top: 1px solid rgba(255,255,255,0.3);
  padding-top: 10px;
}

/* contact.html *//* contact.html *//* contact.html */
.contact-section {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  padding: 40px;
}

.contact-info, .contact-form {
  flex: 1 1 300px;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
}

.contact-info {
  background-color: #f9f9f9;
}
.contact-info p a{
  color: #04557b;
}
.contact-form form {
  display: flex;
  flex-direction: column;
}

.contact-form label {
  margin-top: 10px;
}

.contact-form input,
.contact-form textarea {
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.contact-form button {
  margin-top: 15px;
  padding: 10px;
  background-color: #18596b;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.contact-info i {
  color: #18596b;       
  margin-right: 10px; 
  font-size: 18px;
}

